/csjsimsdesk/nbproject/private/
/csjsimscore/nbproject/private/
/csjsimsdesk/build/
/csjsimscore/build/
/csjsimscore/dist/
/csjsimsdesk/dist/
/csjsimswebserv/dist/
/csjsimsweb/build/
/csjsimsweb/dist/
